*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}



.content{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 247, 236);
}
.links h2{
    margin-left: 10px;
    
    
}
.links li{
    list-style-type: none;
}

.first{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.cards{
    margin: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.firstcard{
    background-color: greenyellow;
    width: 300px;
    height: 350px;
    text-align: center;
    border-radius: 8px;
   border: 2px solid;

}


